thead{
    background: wheat;
    font-weight: 100;
    font-size: 2em;
    margin: 2px;
}
th{
    margin: 2px;
    font-size: 2em;

}

table{
    text-align: left;
    background: #e8e1d5;
    margin: 2px;
    font-size: 1em;

}

.seleccionado{
    border: rgba(153, 51, 87, 0.75) 1px solid;
    font-size: 2em;

}