#tabla {
    counter-reset: li;
    list-style: none;
    *list-style: decimal;
    text-align: left;
    font: 15px 'trebuchet MS', 'lucida sans';
    padding: 0;
    margin-bottom: 4em;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

#tabla::content {
    margin: 0 0 0 2em;
}
.seleccionado {
    border: red 1px solid;
}